streamlit

langchain
langchain-core
langchain-community
langgraph
langchain-groq
groq

python-dotenv

pydantic

pandas
numpy<2

plotly

sqlalchemy

requests
httpx

edge-tts
streamlit-mic-recorder
